<div class="mt-5 mb-4">
    <div class="col">
      <h2 class="section-header"><i class="fa-solid fa-award mx-2" style="color: #3581b8;"></i> Premios</h2>
      <ul class="bg-white bg-opacity-80 rounded-xl py-4 px-6">
        <li class="text-oro text-3xl my-2">{{ gold }}</li>
        <hr class="border-gray-200 border">
        <li class="text-plata text-2xl my-2">{{ silver }}</li>
        <hr class="border-gray-200 border">
        <li class="text-bronce text-xl my-2">{{ bronze }}</li>
      </ul>
    </div>
  </div>